language: php
sudo: false
php:
  - 5.6
  - 7.0.15

before_script:
  - cp tests/bootstrap.php.dist tests/bootstrap.php
  - composer install --dev
  - composer update

script:
  - phpunit tests/PerimeterxCookieValidatorTest
  - phpunit tests/PerimeterxCookieV3ValidatorTest
  - phpunit tests/PerimeterxConfigurationValidatorTest
  - phpunit tests/PerimeterxS2SValidatorTest