<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Access to this page has been denied.</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    <style>
        html, body {
            margin: 0;
            padding: 0;
            font-family: 'Open Sans', sans-serif;
            color: #000;
        }

        a {
            color: #c5c5c5;
            text-decoration: none;
        }

        .container {
            align-items: center;
            flex: 1;
            justify-content: space-between;
            flex-direction: column;
            height: 100%;
            margin-left: 25px;
        }

        .container > div {
            width: 100%;
            justify-content: center;
        }

        .container > div > div {
            width: 80%;
        }

        .customer-logo-wrapper {
            padding-top: 2rem;
            flex-grow: 0;
            background-color: #fff;
            visibility: {{logoVisibility}};
        }

        .customer-logo {
            border-bottom: 1px solid #000;
        }

        .customer-logo > img {
            padding-bottom: 1rem;
            max-height: 50px;
            max-width: auto;
        }

        .page-title-wrapper {
            flex-grow: 2;
        }

        .page-title {
            flex-direction: column-reverse;
        }

        .content-wrapper {
            flex-grow: 5;
        }

        .content {
            flex-direction: column;
        }

        .page-footer-wrapper {
            align-items: center;
            flex-grow: 0.2;
            background-color: #000;
            color: #c5c5c5;
            font-size: 70%;
        }

        @media (min-width: 768px) {
            html, body {
                height: 100%;
            }
        }
    </style>
    <!-- Custom CSS -->
    {{# cssRef }}
        <link rel="stylesheet" type="text/css" href="{{ . }}"/>
    {{/ cssRef }}
    <script src="https://funcaptcha.com/fc/api/?onload=loadFunCaptcha" async defer></script>
</head>

<body>
<section class="container">
    <div class="page-title-wrapper">
        <div class="page-title">
            <h1>Please verify you are a human</h1>
        </div>
    </div>
    <div id="CAPTCHA">
</section>
<!-- Px -->
<script>
    (
        function () {
            window._pxAppId = '{{appId}}';
            var p = document.getElementsByTagName("script")[0], s = document.createElement("script");

            s.async = 1;
            s.src = '//client.perimeterx.net/{{appId}}/main.min.js';
            p.parentNode.insertBefore(s, p);
        }()
    );
</script>
<!-- Captcha -->
<script>

    function loadFunCaptcha() {
        var vid = '{{vid}}';
        var uuid = '{{uuid}}';
        var delimeter = '|,|';
        new FunCaptcha({
            public_key: "{{captcha_key}}",
            target_html: "CAPTCHA",
            callback: function () {
                var pxCaptcha = "_pxCaptcha=" + document.getElementById("FunCaptcha-Token").value + delimeter + uuid;
                if (vid) {
                    pxCaptcha = pxCaptcha + delimeter + vid
                }
                document.cookie = pxCaptcha;
                location.reload();
            }
        });
    }
</script>
<!-- Custom Script -->
{{# jsRef }}
    <script src="{{ . }}"></script>
{{/ jsRef }}
</body>
</html>
