<?php
namespace Perimeterx\Tests;

require_once __DIR__ . '/../vendor/autoload.php';

/* CHANGE VALUES TO MAKE TESTS WORK */
define('PX_APP_ID', 'APP_ID');
define('PX_COOKIE_KEY', 'COOKIE_KEY');
define('PX_LOCAL_IP_ADDR', 'LOCAL_IP_ADDR'); // ip address of the machine running the tests
define('PX_AUTH_TOKEN', 'AUTH_TOKEN');


/* DO NOT CHANGE */
define('PX_SERVER_URL', 'http://collector.perimeterx.net');
define('PX_ACTIVITY_PAYLOAD', 'payload=W3sidHlwZSI6IlBYMiIsImRldGFpbHMiOlt7Im5hbWUiOiJQWDk2IiwidmFsdWUiOiJodHRwOi8vd3d3LnBlcmltZXRlcnguY29tLyJ9XX1d&appId=' . PX_APP_ID . '&tag=v1.95&uuid=a5ab1930-32d7-11e6-b14c-f3f37f8d0f8e');

// Delete the temp test user after all tests have fired
register_shutdown_function(function () {

});